        {% extends "student_home_base.html" %}
        {% block body %}
        <body>
        <div>
			<div class="col-xl-9 col-lg-9">
			<br>
				<h5 class="mb-0"><span>What's New</span></h5>
				<br>


				<!--  -->
				<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-file-text" style="color: #ed8f3c; border-color: #ed8f3c"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Job Announcements</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-users" style="color: #3ccfed; border-color: #3ccfed"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Friend Requests</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-envelope" style="color: blue; border-color: blue"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Messages</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>


				<!--  -->
				<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-comment" style="color: #f86c6b; border-color: #f86c6b"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Recommendations</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>



				<!--  -->
				<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-building text-success border-success"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">Companies Interested In You</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

				<!--  -->
			<!-- 	<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-user text-warning border-warning"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Messages</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div> -->

<!-- 				<h5 class="mb-0"><span>Recent Job Announcements</span></h5>
				<br> -->
				</div>
            

            <div class="col-xl-3 col-sm-6 col-lg-3">
            <br><br>




            </div>
            </div>
		</div>

	

        </body>
        {% endblock %}
