        {% extends "student_home_base.html" %}
        {% block body %}
        <body>
        <div>
			<div class="col-xl-12 col-lg-12 col-sm-6">
			<br>
			
				<div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Company Details</strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <!-- <img class="rounded-circle mx-auto d-block" src="images/admin.jpg" alt="Card image cap"> -->
                            <h5 class="text-sm-center mt-2 mb-1">{{data['c_name']}}</h5>
                            <div class="location text-sm-center"><i class="fa fa-map-marker"></i>{{data['c_headquarter_location']}}</div>
                        </div>
                        <hr>
                <!--         <div class="card-text text-sm-center">
                            <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                            <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                            <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                            <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                        </div> -->
                    </div>
                </div>
				<!-- <h5 class="mb-0"><span>Company Details</span></h5> -->
				<br>

				<!--  -->
			<!-- 	<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-user text-warning border-warning"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Messages</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div> -->

<!-- 				<h5 class="mb-0"><span>Recent Job Announcements</span></h5>
				<br> -->
			</div>
            
			<hr>
            <div class="col-xl-12 col-sm-6 col-lg-12">
            <br><br>

            <h5 class="mb-0"><span>Recent Job Postings</span></h5>

            {% for job in recent_jobs %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header"> 
                        <i class="fa fa-building" style="color: #d6319f;"></i><strong class="card-title pl-2"><a href="/student/view_company?c_id={{job['c_id']}}">{{job['c_name']}}</a></strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center mt-2 mb-1"><a href="/student/">{{  job['job_title'] | safe}}</a></h5>
                            <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{job['job_city']}}, {{job['job_state']}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            </div>
		</div>

	

        </body>
        {% endblock %}
