                          {% extends "student_home_base.html" %}
        {% block body %}
            {% if msg %}
                <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-error">Success</span> {{msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if err_msg %}
                <div class="col-sm-12">
                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-danger">Error</span> {{err_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <strong>Profile</strong> Update
                      </div>
                      <!-- {{data}} {{data['st_email']}} -->
                      <div class="card-body card-block">
                        <form action="{{ url_for('student.profile_edit') }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Email</label></div>
                            <div class="col-12 col-md-9">
                              <p class="form-control-static">{{data['st_email']}}</p>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="name" name="st_name" placeholder="{{data['st_name']}}" value="{{data['st_name']}}" class="form-control"><!-- <small class="form-text text-muted">This is a help text</small> --></div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">University</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="st_university" name="st_university" placeholder="{{data['st_university']}}" value="{{data['st_university']}}" class="form-control"><!-- <small class="form-text text-muted">This is a help text</small> --></div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Major</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="st_major" name="st_major" placeholder="{{data['st_major']}}" value="{{data['st_major']}}" class="form-control"><!-- <small class="form-text text-muted">This is a help text</small> --></div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="email-input" class=" form-control-label">Degree Type</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="degree_type" name="degree_type" placeholder="{{data['degree_type']}}" value="{{data['degree_type']}}" class="form-control"><small class="help-block form-text"></small></div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="email-input" class=" form-control-label">GPA</label></div>
                            <div class="col-12 col-md-9"><input type="number" step="any" id="st_gpa" name="st_gpa" value="{{data['st_gpa']}}" placeholder="{{data['st_gpa']}}" class="form-control"><small class="help-block form-text"></small></div>
                          </div>
                    
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Keywords</label><small class="help-block form-text" style="color: green;">your skills seperate by commas</small></div>
                            <div class="col-12 col-md-9"><textarea name="st_keywords" id="st_keywords" rows="9" placeholder="{{data['st_keywords']}}" value = "{{data['st_keywords']}}" class="form-control">{{data['st_keywords']}}</textarea></div>
                          </div>
               
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="multiple-select" class=" form-control-label">Upload New Resume</label><small class="help-block form-text" style="color: green;">overwrites previous one</small></div>
                            <div class="col-12 col-md-9"><input type="file" id="file-multiple-input" name="st_resume" multiple="" class="form-control-file"></div>
                          </div>
                          <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        </div>
                      </div>
                      </form>
                     
                    </div>
                  
                  </div>
</div>

                  {% endblock %}
