        {% extends "student_home_base.html" %}
        {% block body %}
        <body>
<!-- {{data}} -->

            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">All messages</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <!-- <th scope="col">#</th> -->
                                  <th scope="col">Date</th>
                                  <th scope="col">Sender</th>
                                  <th scope="col">Receiver</th>
                                  <th scope="col">Message</th>

                              </tr>
                          </thead>
                          <tbody>

                          {% for m in data %}
                           <tr>
                              <th scope="row"><!-- <a href="/student/friends_messages?fr_id={{m['fr_id']}}"> -->{{m['date']}} <!-- </a> --></th>
                              <!-- <td></td> -->
                              <td>{{m['sender']}}</td>
                              <td>{{m['receiver']}}</td>
                              <td>{{m['message']}}</td>
                           </tr>

                          {% endfor %}

                      </tbody>
                  </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <strong>New </strong> Message
                      </div>
                      <!-- {{data}} {{data['st_email']}} -->
                      <div class="card-body card-block">
                        <form action="{{ url_for('student.new_msg') }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Email</label></div>
                            <div class="col-12 col-md-9">
                              
                                <select name="fr_id" id="fr_id" class="form-control">
                                {% for f in friends%}
                                <!-- <option value="0">Please select</option> -->
                                <!-- <option value="1">Option #1</option> -->
                                <!-- <option value="2">Option #2</option> -->
                                <option value="{{f[1]}}">{{f[0]}}</option>
                              {% endfor %}
                              </select>
                              
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Message</label><small class="help-block form-text" style="color: green;"></small></div>
                            <div class="col-12 col-md-9"><textarea name="st_msg" id="st_msg" rows="9" placeholder="{{data['st_keywords']}}"  class="form-control"></textarea></div>
                          </div>
               
                 
                          <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Send
                        </button>
                        </div>
                      </div>
                      </form>
                     
                    </div>
        </body>
        {% endblock %}
