        {% extends "student_home_base.html" %}
        {% block body %}
        <body>
        <div>
			<div class="col-xl-9 col-lg-9">
			<br>
				<h5 class="mb-0"><span>What's New</span></h5>
				<br>
<!-- {{all_data}} -->

				<!--  -->
				<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-file-text" style="color: #ed8f3c; border-color: #ed8f3c"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text"><a href="/student/job_posting_notifications">New Job Announcements</a></div>
	                                <div class="stat-digit">{{all_data['job_posting_notifications']['count']}}</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-users" style="color: #3ccfed; border-color: #3ccfed"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text"><a href="/student/friend_request_notifications">New Friend Requests</a></div>
	                                <div class="stat-digit">{{all_data['friend_requests']['count']}}</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-envelope" style="color: blue; border-color: blue"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text"><a href="/student/friends_messages_all">New Messages</a></div>
	                                <div class="stat-digit">{{all_data['messages']['count']}}</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>


				<!--  -->
				<!-- <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-comment" style="color: #f86c6b; border-color: #f86c6b"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Recommendations</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div> -->



				<!--  -->
				<!-- <div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-building text-success border-success"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">Companies Interested In You</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div> -->

				<!--  -->
			<!-- 	<div class="col-xl-6">
	                <div class="card">
	                    <div class="card-body">
	                        <div class="stat-widget-one">
	                            <div class="stat-icon dib"><i class="fa fa-user text-warning border-warning"></i></div>
	                            <div class="stat-content dib">
	                                <div class="stat-text">New Messages</div>
	                                <div class="stat-digit">961</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div> -->

<!-- 				<h5 class="mb-0"><span>Recent Job Announcements</span></h5>
				<br> -->
				</div>
            

            <div class="col-xl-3 col-sm-6 col-lg-3">
            <br><br>



                <div class="card text-white bg-flat-color-3">
                    <div class="card-body pb-0">
                        <div class="dropdown float-right">
                        </div>
<!--                         <h4 class="mb-0">
                            <span class="count">10468</span>
                        </h4> -->
                        <p class="text-light"><h4>Popular Companies</h4></p>
                        <!-- {{popular_data['company']}} -->
                        {% for key in popular_data['company'] %}
                        <a href='/student/view_company?c_id={{key["c_id"]}}'>
                            <span class="text-light">{{key['c_name']}}</span><br>
                        </a>
                        {% endfor %}
                        <br>
                       
                    </div>
                </div>


                <div class="card text-white bg-flat-color-2">
                    <div class="card-body pb-0">
                        <div class="dropdown float-right">
                        </div>
                        <p class="text-light"><h4>Popular Jobs</h4></p>
                        {% for key in popular_data['jobs'] %}
                        <a href="/student/job_view?job_id={{key['job_id']}}">
                            <span class="text-light">{{key['job_id']}} - {{key['job_title']}}</span><br>
                        </a>
                        {% endfor %}
                        <br>
                       
                    </div>
                </div>



            </div>
            </div>
		</div>

		<div class="col-12">
			<br>
			<h5 class="mb-0"><span>Recent Job Postings</span></h5>
			<br>
			{% for job in recent_jobs %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header"> 
                        <i class="fa fa-building" style="color: #d6319f;"></i><strong class="card-title pl-2"><a href="/student/view_company?c_id={{job['c_id']}}">{{job['c_name']}}</a></strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center mt-2 mb-1"><a href="/student/job_view?job_id={{job['job_id']}}">{{  job['job_title'] | safe}}</a></h5>
                            <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{job['job_city']}}, {{job['job_state']}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


		</div>

        </body>
        {% endblock %}
